<body>
  <!-- Navigation -->
  <!-- Jumbotron, not needed on most pages -->
  <div class="jumbotron">
    <div class="container">
      <h1>BTI425 Assignment 3 Part 2</h1>
      <p>Natan Ross</p>
      <p>Working with Angular
        <br>March 2018</p>
      <p>
        <a class="btn btn-primary btn-lg" href="https://sictweb.github.io/bti425" role="button" target="_blank">Link to external resource &raquo;</a>
      </p>
    </div>
  </div>

  <!-- Main content -->
  <div class="container">
    <div class="col-md-4">
      <h3>Feedback 1:</h3>
      <p>
        This was an interesting project that was a great test of our knowledge. I enjoyed learning about the features myself and
        had a great time coding this project. However, if you wish to make the projects less detailed can you please have
        a section with requirements for the project. Where each page has its required features laid out, so we do not miss
        anything and have a simple check list for page completion. Just like in the industry when you get project specifications
        for a given feature or project.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Time Required:</h3>
      <p>
        This project took me about 12 hours to complete as I ran into several hickups.
      </p>
    </div>
  </div>
</body>