<body>
  <!-- Navigation -->
    <!-- Jumbotron, not needed on most pages -->
  <div class="jumbotron">
    <div class="container">
      <h1>BTI425 Assignment 1</h1>
      <p>Natan Ross</p>
      <p>Working with jQuery, libaries and Knockout
        <br>Febuary 2018</p>
      <p>
        <a class="btn btn-primary btn-lg" href="https://sictweb.github.io/bti425" role="button" target="_blank">Link to external resource &raquo;</a>
      </p>
    </div>
  </div>

  <!-- Main content -->
  <div class="container">
    <div class="col-md-4">
      <p>Feature 2</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, sint nesciunt facere et distinctio reprehenderit, eveniet
        excepturi error ullam sapiente vel aliquid animi odio optio maxime accusantium assumenda? Expedita, sequi!
      </p>
    </div>
    <div class="col-md-4">
      <p>Feature 3</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique aliquam assumenda exercitationem corporis cumque
        magni sed delectus error explicabo enim, dignissimos consequuntur laborum tempora. Cupiditate cumque veniam quam
        explicabo rerum!</p>
    </div>
  </div>