<!-- <h3>Select a row</h3>
<p>
  <span>First name:</span>
  {{ selectedCust.first_name }}</p>
<p>Last name: {{ selectedCust.last_name }}</p>
<p>City: {{ selectedCust.city }}</p> -->
<div class="cotainer">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body">
          <dl class="dl-horizontal">
            
            <h1 *ngIf="!toDelete">Customer Detail - {{ selectedCust.first_name }} {{ selectedCust.last_name }}</h1>
            <h1 class="delete" *ngIf="toDelete">Delete this customer? {{ selectedCust.first_name }} {{ selectedCust.last_name }}</h1>
            <dt>First Name: </dt>
            <dd> {{ selectedCust.first_name }}</dd>
            <dt>Last Name: </dt>
            <dd> {{ selectedCust.last_name }}</dd>
            <dt>City: </dt>
            <dd> {{ selectedCust.city }}</dd>
            <dt>Email: </dt>
            <dd>
              <a href="mailto:{{ selectedCust.email }}" target="_top">{{ selectedCust.email }}</a>
            </dd>
            <dt>Website: </dt>
            <dd>
              <a href="{{ selectedCust.website }}" target="_top">{{ selectedCust.website }}</a>
            </dd>
            <dt>Birthdate: </dt>
            <dd> {{ selectedCust.birthdate }}</dd>
          </dl>

          <div class="btn-toolbar text-center" role="toolbar">
            <button class="btn btn-default" (click)='this.router.navigate(["/customers"])'>Back to list</button>
            <button *ngIf="!toDelete" type="button" class="btn btn-warning" (click)="onClickDelete()">Delete this customer</button>
            <button *ngIf="toDelete" type="button" class="btn btn-danger" (click)="onClickDeleteAccept()">Yes, Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Customer Detail:
      </div>
      <div class="panel-body">
        <app-customers-detail [selectedCust]="selectedCust"></app-customers-detail>
      </div>
    </div>
  </div> -->