<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Customer List:
        </div>
        <div class="panel-body">
          <table class="table table-hover table-responsive-md" id="MainTable">
            <thead>
              <th class="hidden"></th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>City</th>
            </thead>
            <tbody>
              <tr id="{{c.id}}Row" class="tablePointer" *ngFor="let c of customers" (click)="onClick(c)">
                <td class="hidden">{{c.id}}</td>
                <td>{{c.first_name}}</td>
                <td>{{c.last_name}}</td>
                <td>{{c.city}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>